@model IEnumerable<Fit5032Assignment.Models.Patient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.F_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.L_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.F_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Patient_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Patient_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Patient_id })
        </td>
    </tr>
}

</table>
